<h3>Child Component</h3>

<div class="form-group">
    <label for="firstname">First name</label>
    @*<input id="firstname"
        placeholder="@PlaceHolder"
        required="@Required"
        maxLength="@MaxLength"
        minLength="@MinLength"
        class="form-control"/>*@
    <input @attributes="@InputAttributes" class="form-control"  value="@Value"/>
</div>

@code {
    //[Parameter]
    //public string Required { get; set; } = "Required";
    //[Parameter]
    //public string MaxLength { get; set; } = "15";
    //[Parameter]
    //public string MinLength { get; set; } = "2";
    //[Parameter]
    //public string PlaceHolder { get; set; } = "Default value";

    [Parameter]
    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>
    {
         {"required", "required"},
         {"placeholder", "childcomponent placeholder"},
         {"size", "100"},
         {"maxlength", "55"}
    };
    [Parameter]
    public string Value { get; set; } = "Child value";
}
